.filterBox  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter{
    display: flex;
    font-weight: 500;
    height: 100vh;
    width: 10vw;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.allClothes{
    width: 58vw;
}

.allDetails{
    display: flex;
    margin: 28px 395px;
    gap: 33px;
}

.typeText{
    font-weight: normal;
}


.colorArrow{
    display: flex;
    align-items: center;
    gap: 41px;
    margin-top: -41px;
}


.arrow{
    height: 111px;
    width: 16px;
    transform: rotate(89deg);
    cursor: pointer;
} 


.tshirts_images{
    display: flex;
    font-weight: 600;
    flex-direction: column;
    align-items: start;
}

.fetchedImageData{
    height: 241px;
    width: 172px;
}


.fetchedImage{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;
}

.imageSection{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.typeSolid{
    color: rgba(189, 161, 161, 0.4);
    font-weight: normal;
    font-size: 12px;
}

.price{
    font-size: 15px;
}


.circleData{
    height: 13px;
    width: 13px;
    border: 2px solid;
    border-radius: 50%;
}

.flexCircle{
    display: flex;
    margin-top: -47px;
    gap: 6px;
    flex-wrap: wrap;
    width: 114px;
}

.sizeSection{
    display: flex;
    align-items: center;
    gap: 56px;

}

.sizeDetails{
    font-size: 12px;
    margin-top: -52px;
    font-weight: 400;
}

.fa-heart{
    position: absolute;
    right: 9px;
    top: 11px;
    height: 20px;
    width: 20px;
    border: 2px solid white;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PriceSection{
    display: flex;
    gap: 1px;
}

.priceSectionData{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



@media screen and (max-width:1196px) {
    .allDetails {
        display: flex;
        margin: 28px 194px;
        gap: 33px;
        width: 70%;
    }
}



@media screen and (min-width:768px) and (max-width:992px) {
   .allDetailsCatbox{
    position: relative;
    right: 8%
   }

   
    .fetchedImageData {
        height: 185px;
        width: 156px;
    }

    .list {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .allDetails {
        display: flex;
        margin: 28px 96px;
        gap: 61px;
        width: 70%;
    }

    .fetchedImageData {
        height: 145px;
        width: 125px;
    }
}


@media screen and (min-width:276px) and (max-width:576px){
    .allDetails {
        display: flex;
        margin: 28px 80px;
        gap: 103px;
    }

    .fetchedImageData {
        height: 108px;
        width: 85px;
    }

    .css-1hqe24l {
        width: 307px;    
    }

    
}
@media screen and (max-width:401px){
    img {
        height: 170px;
        width: 343px;
        border-radius: 10px;
    }

    .allDetails {
        display: flex;
        margin: 28px 21px;
        gap: 103px;
    }

    .fetchedImage {
      display: grid;

    }
}