.Menimage{
    font-size: 20px;
    font-weight: 500;
}

.menimg{
    height: 494px;
    width: 318px;
    border-radius: 10px;
}

.ImageData{
    display: flex;
    gap: 13px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 7%;
    flex-wrap: wrap;
}


.brand{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.urban{
    color: rgba(0,0,0,0.4);
    font-weight: 400;
}

.taxes{
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 10px;

}


.sand{
    font-weight: bold;
    font-size: 12px;
}

.price{
    margin-top: 2%;
    font-weight: bold;
    font-size: 20px;
}


.colorBox {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    border:2px solid;
}


.colorBoxData {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
}

.black{
    gap: 10px;
    display: flex;
    align-items: center;
}

.color{
    margin-right: 69px;
    font-size: 10px;
}

.size{
    display: flex;
    flex-direction: column;
    margin-top: 11px;
}

.allSize{
    display: flex;
    gap: 6px;
    margin-top: 8px;
}

.sizeText{
    margin-right: 290px;
    font-size: 11px;
}

.quantity{
    display: flex;
    gap: 13px;
    margin-top: 20px;
}

select{
    padding: 6px;
    color: #000;
    background: #fff;
    border: 1px solid #e8d7d7
}

.circle{
    height: 33px;
    width: 33px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button{
    display: flex;
    gap: 20px;
}

.pincode{
    border: 2px solid #ddd;
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 9px;
    padding-left: 7px;
    padding-top: 7px;
}

.text{
    display: flex;
    font-weight: 600;
}

.delivery{
    margin-top: 20px;
}

input {
    padding: 4px 10px;
    padding-right: 65px;
    border: 2px solid #ddd;
}

.logo{
    display: flex;
    gap: 10px;
}
.logoImage{
    height: 30px;
    width: 30px;
}


.product_details{
    display: flex;
    margin-left: 385px;
    font-weight: 600;
    font-size: 19px;
    flex-direction: column;
    align-items: flex-start;
}

.product_highlights{
    border: 2px solid;
    padding: 20px;
    margin: 20px;
    background-color: #f5f5f5;
    border: none;
}

.febric{
    display: flex;
    gap: 64px;
    font-weight: normal;
    font-size: 15px;
    margin-top: 20px;
}

.highlights{
    font-size: 15px;
    display: flex;

}

.febText{
    font-weight: 600;
}


.boxDeatails{
    display: flex;
    gap: 47px;
    flex-wrap: wrap;
}

.textDescription{
    font-size: 20px;
}

.product_description{
    border: 2px solid;
    padding: 9px 11px 0px 19px;
    margin: 20px;
    background-color: #f5f5f5;
    border: none;
}

.product_text{
    font-weight: 600;
    font-size: 15px;
}

.listCotton {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 7px;
    font-weight: normal;
}

.sideImage{
    height: 100px;
    width: 78px;
    cursor: pointer;
}

.sideImageBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    overflow: scroll;

  
}

.loopKnit{
    width:190px;
    font-size:10px;
    line-height: 2vh;
    font-weight: normal;
    text-align: left;
    margin-top: 20px;
}


@media screen and (max-width:441px){
    .menimg {
        height: 494px;
        width: 283px;
        border-radius: 10px;
    }
}



@media screen and (max-width:401px){
    .menimg {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }

    .sideImageBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 246px;
        overflow: scroll;
    }

    .menimg {
        height: 216px;
        width: 180px;
        border-radius: 10px;
    }

    .buy {
        background-color: yellow;
        color: black;
        padding: 2px 35px;
    }

    
}