.checkoutNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.checkoutText{
    font-weight: 700;
    font-size: 20px;
}

.checkoutPayText{
    font-weight: 700;
    font-size: 15px;
    background-color: #f2f2f2;
    padding: 14px 47px;
}


.checks{
    display: flex;
    justify-content: space-evenly;
    width: 48%;
    margin: 40px auto;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

.circleBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.checkoutCircle{
    height: 30px;
    width: 30px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.checkCart{
    display: block !important;
    padding: 8px !important;
    width: 28px !important;
    background-repeat: round !important;
    height: 28px !important;
    margin-top: 0px;
}

.checkOutText{
    color: #000;
    text-align: center;
    font-size: 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-top: 5px;
}

/* .shopping-step:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #cbcbcb;
    left: 669px;
    top: 114px;
    z-index: 0;
    width: 22%;
} */


.sectionImageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkOutSection{
    padding: 0px 9px;
}

.checkOutDetailsSection{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.checkOutTextDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}

.checkOutColor{
    display: flex;
    align-items: center;
    gap: 107px;
}

.checkOut{
    display: flex;
    align-items: inherit;
    justify-content: center;
    gap: 41px;
    flex-wrap: wrap;
}




.checkOutPrice_Text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 11px;
}

.DetailsSec{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.detailsandnumber{
    display: flex;
    gap: 131px;
}