.checkoutNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.checkoutText{
    font-weight: 700;
    font-size: 20px;
}

.checkoutPayText{
    font-weight: 700;
    font-size: 15px;
    background-color: #f2f2f2;
    padding: 14px 47px;
}


.checks{
    display: flex;
    justify-content: space-evenly;
    width: 48%;
    margin: 40px auto;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

.circleBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.checkoutCircle{
    height: 30px;
    width: 30px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.checkCart{
    display: block !important;
    padding: 8px !important;
    width: 28px !important;
    background-repeat: round !important;
    height: 28px !important;
    margin-top: 0px;
}


.checkOut{
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 41px;
    flex-wrap: wrap;
    background: #f6f3f3;
}

.checkOutText{
    color: #000;
    text-align: center;
    font-size: 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-top: 5px;
}

.wishlistContainer{
    display: flex;
    margin-top: 15px;
    border-top: 1px solid #cfc4c4;
    padding-left: 6px;
    padding-top: 9px;
    justify-content: space-around;
}

.checkoutBox {
    display: flex;
    padding: 10px;
    border: 2px solid #cfc4c4;
    border-radius: 7px;
    position: relative;
    background-color: white;
}

.innerOptionBox{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.innerCheckOut{
    display: flex;
    gap: 12px;
}

.productBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;

}

.priceSection{
    display: flex;
}

.innerCheckOutBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 32%;
    padding: 20px;
    background-color: white;
    position: relative;
    left: 6%;
}

.childCheckOutBox{
    width: 100%;
}

.detailsandnumber{
    display: flex;
    justify-content: space-around;
}

.checkOutDetailsBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.checkOutPrice_Text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 4%;
    background-color: white;
    padding:20px;
}

.amountDetails{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.amountDetailsBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wishListDataIter{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.wishListImage{
    height: 200px;
    width: 150px;
}

.wishListDetails{
    display: flex ;
    flex-direction: column;
    align-items: start;
}

.wishListText{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3px;
}

.wishListParentText{
    text-decoration: underline;
    padding: 15px;

}