.cart{
    color: #fff;
    padding: 15px 50px;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    background: #51cccc;
    font-size: 14px;
    border: none;
    margin-top: 33px;
}

.buy{
    background-color: yellow;
    color: black;
    padding: 15px 90px;
}

.checkOutButton{
    background: #51cbcc;
    padding: 15px 97px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.wishListButton{
    background: white;
    border: none;
    color: grey;
    cursor: pointer;
}