.womenImage{
    height: 304px;
    width: 276px;
    margin-top: 20px;
    border-radius: 12px;
    position: relative;
}

.slider{
    margin: auto;
    width: 100%;
}


.slick-prev:before {
    content: '←';
    color: black !important;
}



.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 0 !important;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.womenSectionFlex{
    display: flex;
    overflow: scroll;
    gap: 10px;
    overflow-y: hidden;
    a{
        text-decoration: none !important;
    }

}

::-webkit-scrollbar {
    display: none;
}

.womenText{
    border: 2px solid;
    display: flex;
    position: absolute;
    width: 193px;
    margin: -4px 3px;
}

.womenTextData{
    font-size: 17px;
    margin-right: 60px;
    color: black;
    z-index: 1;
    position: relative;
    display: flex;
    margin-left: 17px;
    padding: 13px;
    bottom: 56px;
    left: -16px;
}



@media screen and (max-width:592px) {
    .slider {
        margin: 26px 37px;
        width: 100%;
    }

    .bestImage {
        height: 182px;
        width: 140px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .bestSellerBox {
        width: 74%;
        margin: auto;
        display: flex;
        overflow: scroll;
        gap: 20px;
    }

    .wardrobeImage {
        width: 100%;
        height: 19vh;
        margin-top: 28px;
    }

    .womenImage {
        height: 200px;
        width: 142px;
    }
}


.imageSlider{
    position: relative;
    width: 1200px;
    right: 6%;
}