.womenImage{
    height: 191px;
    width: 187px;
}

.slider{
    margin: auto;
    width: 55%;
}


.slick-prev:before {
    content: '←';
    color: black !important;
}



.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 0 !important;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.womenSectionFlex{
    display: flex;
    overflow: scroll;
    gap: 10px;
    overflow-y: hidden;
    

}

::-webkit-scrollbar {
    display: none;
}

.womenText{
    border: 2px solid;
    display: flex;
    position: absolute;
    width: 193px;
    margin: -4px 3px;
}

.womenTextData{
    margin-top: -32px;
    font-size: 12px;
    margin-right: 74px;
}