.womenImage{
    height: 300px;
    width: 200px;
}

.womenData{
    display: flex;
    overflow: auto;
    margin-top: 30px;
    gap: 20px;
    width: 78%;
    margin: auto;
}

.arrowSlider{
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    margin-top: 168px;
    margin-left: 28px;
}