*{
    margin: 0;
}


.login{
    background-color: black;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.login-signup{
    display: flex;
    gap: 6px;
    font-size: 13px;
}

