.fa-bars{
    height: 20px;
    cursor: pointer;
    display: none;
}

.hamburgerNav{
    display: none;
}

@media screen and (max-width:626px){
    .fa-bars{
        display: block;
    }

    .hamburgerBox{
        display: flex;
        align-items: baseline;
    }
    .hamburgerNav{
        display:flex;
    }
    
}

@media screen and (min-width:768px) and (max-width:992px) {
    .fa-bars{
        display: block;
    }
}


@media screen and (min-width:576px) and (max-width:768px) {
    .fa-bars{
        display: block;
    }
}