.orderImage{
    height: 223px;
    width: 223px;
    padding: 20px;
    border-radius: 33px;
    cursor: pointer;
}

.trackBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.textOrderDetails{
    position: relative;
    bottom: 20px;
    display: flex;
    left: 21px;
}