.mensection{
    margin-top: 60px;
    align-items: center;
    background: linear-gradient(90deg, rgba(248, 235, 39, 0.00) 0%, #F8EB27 48.11%, rgba(248, 235, 39, 0.00) 100%);
    width: 100%;
    justify-content: center;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0px;
}

@media screen and (max-width:592px) {
    .mensection{
        width: 100%;
    }

    .displayImage{
        position: relative;
        right: 23px;
        width: 100%;
    }

    .viewall {
        display: flex;
        position: relative;
        left: 86%;
        bottom: 20px;
    }

    .demand {
        position: absolute;
        right: 56%;
        bottom: 3px;
    }

    
/* 
    .dataBest {
        position: relative;
        top: 20px;
    } */

    .bestSellerBox {
        margin: 15px auto;
    }
}

.parentDiv{
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: auto;
}

.demand{
    /* display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 14px; */
    margin-left: 12%;
}

.displayImage{
    /* display: flex;
    margin-top: 26px;
    margin: auto;
    justify-content: space-between; */
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
}


.tshirt{
    font-weight: 600;
    font-size: 15px;
    border-left: 4px solid yellow;
}

.viewall{
    text-decoration: underline;
    cursor: pointer;
    height: 20px;
    margin-right: 12%;
}

.highondemand{
    padding-left: 17px;
    margin-right: -48px;
}

