.mensection{
    margin-top: 60px;
    align-items: center;
    background: linear-gradient(90deg, rgba(248, 235, 39, 0.00) 0%, #F8EB27 48.11%, rgba(248, 235, 39, 0.00) 100%);
    width: 100%;
    justify-content: center;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0px;
}

.parentDiv{
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: auto;
}

.demand{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 14px;
}

.displayImage{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 60rem;
}


.tshirt{
    font-weight: 600;
    font-size: 22px;
    border-left: 4px solid yellow;
}

.viewall{
    text-decoration: underline;
    cursor: pointer;
}

.highondemand{
    padding-left: 31px;
}

.imageData{
    display: flex;
    overflow: scroll;
    width: 93%;
    margin: auto;
    gap: 20px;
    padding-left: 20px;
    cursor: pointer;
}