.login{
    background-color: black;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 12px;
    
}

.trackOrderBox{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.login-signup{
    display: flex;
    gap: 6px;
    font-size: 13px;
}

.TrackBox{
    display: flex;
    gap: 10px;
    cursor: pointer;
}