.searchBox{
    position: absolute;
    top: 55px;
    right: 11%;
    border: none;
    background-color: white;
    height: 45px;
    width: 256px;
    justify-content: center;
    align-items: center;
}


.searchInput{
    height: 17px;
    padding: 3px;
    width: 77%;

}

.searchButton{
    background-color: black;
    color: white;
    height: 25px;
}

.childSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4375rem;
}