.ekjnekdn{
    margin-top: 50px;
    text-align: left;
}


.edkjeodoed{
    background-color: black;
    padding: 12px;
    margin-top: 300px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.eidjeodj{
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
}














@media (max-width:621px){
    .edkjeodoed {
        background-color: black;
        padding: 12px;
        margin-top: 159px;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        width: 62vw;
        font-size: 20px;
        cursor: pointer;
    }

        
    .eoiojdoi3ej{
        margin-left: 23%;
    }
}


.eoiojdoi3ej{
    display: flex;
    justify-content: center;
    width: 30vw;
}