.sections{
    font-weight: bold;
    font-size: 17px;
}

.section_tag{
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 12px;
    z-index: 1;
}

.list ul li{
    list-style-type: none;
    flex-direction: row;
    font-weight:600;
}

.list ul{
    display: flex;
    gap: 29px;
    font-size: 11px;
}

.list{
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.listData{
  display: none;
  /* background-color: white;
  border: 2px solid;
  top: 100px;
  height: 40%;
  width: 45%;
  position: absolute;
  top: 90px;
  left: 376px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 44px;
  gap: 20px;
  flex-wrap: wrap;
  position: fixed; */
}

.men:hover{
    background-color: yellow;
    cursor: pointer;

    .listData{
        display: block;
        background-color: white;
        height: 40%;
        width: 45%;
        position: absolute;
        top:77px;
        left: 376px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 44px;
        gap: 20px;
        flex-wrap: wrap;
        position: fixed;
    }
}



.li_tshirt{
    margin-top: 20px;
}

.weardata:hover{
    color: yellow;
}

.cartSearch{
    display: flex;
    gap: 8px;
    align-items: center;
}

.addToCart{
    position: relative;
}

.addToNumber{
    position: absolute;
    left: 17px;
    bottom: 16px;
    background: yellow;
    height: 12px;
    width: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.addtonumWishList{
    position: absolute;
    left: 21px;
    bottom: 0px;
    border-radius: 50%;
    height: 17px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToWishList{
    position: relative;
}