.eodijeoidj{
    background-color: white;
    height: 600px;
    width: 450px;
    border-radius: 10px;

    padding: 20px;
    z-index: 4;
    /* overflow-y: scroll; */
   margin-bottom: 180px;
   overflow: hidden;
}


.toppp{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 97px;
}

.ekjnekfn{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.edkjenjdk{
    border: 2px solid;
    width: 40%;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
}


.edjned{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.edkjendke{
    display: flex;
    gap: 10px;
    padding: 10px;
}


.edkekdedkjed{
    width: 100%;
    background: black;
    color: white;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
}


.edkje{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    background: linear-gradient(101.41deg, rgb(214, 228, 226) 7.43%, rgb(255, 214, 184) 49.31%, rgb(255, 195, 169) 92.06%);
    width: 93%;
}











@media (max-width:621px){
    

    .eodijeoidj {
        width: 62%;
        margin: auto;
        height: 51%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        overflow-x: hidden;
    }

    .ekjnekfn{

        flex-wrap: wrap;
    }
}




.eejff{
    font-size: 24px;
}

.edkjnejd{
    width: 4vw;
}