.footerDetails{
    display: flex;
    background-color: black;
    color: yellow;
    justify-content: space-around;
    padding: 36px;
    margin-top: 5%;
}

ul{
    list-style-type: none;
}

.helpSection{
    font-size: 16px;
    color: #F8EA54;
    font-weight: 600;
    margin-right: 24px;
}

.need_help{
    margin-top: 10px;
    color: white;
    font-weight: 600;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 13px;
}

.about{
    margin-left: 20px;
}


.location{
    margin-right: 70%;
}




.detailsBox{
    display: flex;
    width: 65%;
    margin-left: 150px;
    justify-content: space-between;
}

.playStoreBox{
    margin-top: 15px;
}

.playStoreText{
    color: yellow;
    display: flex;
}


.imagePlayStore{
    height: 42px;
    width: 132px;
    border-radius: 2px;
}