.mensection{
    background: linear-gradient(90deg, rgba(248, 235, 39, 0.00) 0%, #F8EB27 48.11%, rgba(248, 235, 39, 0.00) 100%);
    width: 63%;
    color: #000;
    font-size: 19px;
    font-weight: 600;
    padding: 15px 0px;
    margin: 20px auto;
}

.parentDiv{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: auto;
}


.imageData{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    position: relative;
}

.imageCategories{
    display: flex;
    flex-wrap: wrap;
}

.sideImageData{
    height: 187px;
    width: 153px;
    margin-left: 16px;
}

.tshirtText{
    position: relative;
    bottom: 31px;
    color: black;
    font-size: 10px;
    margin: 12px;
    display: flex;
    text-transform: capitalize;
    border-left: 3px solid rgb(224, 224, 10);
    margin-right: 46px;
}

.tshirt1{
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: start;
    border-left: 4px solid yellow;
    padding: 0px 11px;
}

.bottomBox{
    display: flex;
    gap: 13px;
    overflow: hidden;
    width: 59%;
    margin: auto;
}


.bottomWear{
    height: 242px;
    width: 200px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
    text-decoration: none;
}


.flex{
    overflow: hidden;
    height: 400px;
    width: 29vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr)
}

.flex2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: scroll;
}


.flex2::-webkit-scrollbar {
    display: none;
}


.high1{
    margin-right: -28px;
}


.nextArrow{
    height: 20px;
    width: 20px;
    background-color: aliceblue;
    position: absolute;
    top: 180px;
    color: black;
    transform: rotateZ(91deg);
}

.fa-angle{
    position: relative;
    top: 181px;
    left: -22px;
    background: white;
    height: 19px;
    display: flex;
    align-items: center;
    width: 15px;
    transform: rotate(267deg);
}

.rightArrow{
       width: 16px;
    background-color: white;
    position: absolute;
    top: 187px;
    color: black;
    -webkit-transform: rotate(269deg);
    transform: rotate(269deg);
    height: 24px;
    right: 1%;
}

.bottoWearText{
    color: black;
    text-transform: capitalize;
    background: #ddd6d6;
    margin: -4px 0px;
    border-radius: 1px;
    padding: 11px 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.bottomContainer{
    background: aquamarine;
    margin-top: -4px;
    width: 190px;
    border-radius: 6px;
    padding: 4px;
}

.wardrobeImage{
    width: 100%;
    height: 30vh;
    margin-top: 28px;
}


.flex3{
    height: 163px;
    width: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
}

.bottomBoxWear{
    transition: transform 0.5s ease;
}

.largeImage{
    display: flex;
    margin-bottom: 19px;
}

.leftArrow{
    position: absolute;
    top: 45%;
    right: 97%;
    background: white;
    transform: rotate(90deg);
}

.BottomLeftArrow{
    position: relative;
    top: 122px;
    height: 20px;
    background: white;
    transform: rotate(89deg);
    cursor: pointer;
    z-index: 1;
    left: 26px;
}

.BottomRightArrow{
    position: absolute;
    right: 376px;
    margin: 118px 11px;
    border: 2p solid;
    background: white;
    transform: rotate(269deg);
    cursor: pointer;
}