.mensection{
    background: linear-gradient(90deg, rgba(248, 235, 39, 0.00) 0%, #F8EB27 48.11%, rgba(248, 235, 39, 0.00) 100%);
    color: #000;
    font-size: 19px;
    font-weight: 600;
    padding: 18px 0px;
    margin: auto;
    margin-top: 24px;
}

.parentDiv{
    max-width: 1032px;
    margin: 0 auto;
}

.imageData:nth-child(1){
    display: flex;
    width: 52% !important;
}


.imageData{
    display: flex;
    margin: auto;
    padding: 10px;
    position: relative;
    /* width: 100%; */
}

.imageCategories{
    display: flex;
    flex-wrap: wrap;
}

.sideImageData{
    height: 259px;
    width: 251px;
    padding: 0px 15px;
    border-radius: 23px;
}

.tshirtText{
    position: relative;
    bottom: 34px;
    color: black;
    font-size: 18px;
    display: flex;
    text-transform: capitalize;
    border-left: 3px solid rgb(224, 224, 10);
    left: 26px;
    padding-left: 10px;
}

.tshirt1{
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: start;
    border-left: 4px solid yellow;
    padding: 0px 11px;
}

.bottomBox{
    display: flex;
    gap: 13px;
    overflow: hidden;
    width: 1200px;
    margin: 20px;
    position: relative;
    right: 107px;
}


.bottomWear{
    height: 327px;
    width: 257px;
    color: black;
    text-decoration: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.genderTshirtsList{
 
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    a {
        text-decoration: none !important;
    }

}



.flex2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: scroll;
}


.flex2::-webkit-scrollbar {
    display: none;
}


.high1{
    margin-right: -28px;
}


.nextArrow{
    height: 20px;
    width: 20px;
    background-color: aliceblue;
    position: absolute;
    top: 180px;
    color: black;
    transform: rotateZ(91deg);
}

.fa-angle{
    position: relative;
    top: 181px;
    left: -22px;
    background: white;
    height: 19px;
    display: flex;
    align-items: center;
    width: 15px;
    transform: rotate(267deg);
}

.rightArrow{
    background-color: white;
    position: absolute;
    top: 263px;
    color: black;
    -webkit-transform: rotate(269deg);
    transform: rotate(269deg);
    height: 24px;
    right: 8%;
    height: 32px;
    z-index: 1;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 20px #070707;
    color: #989090;
    cursor: pointer;
    transition: right 0.3s ease;
}



.bottoWearText{
    color: black;
    text-transform: capitalize;
    background: #ddd6d6;
    margin: -4px 0px;
    border-radius: 1px;
    padding: 15px 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;

}

.bottomContainer{
    background: aquamarine;
    margin-top: -4px;
    width: 190px;
    border-radius: 6px;
    padding: 4px;
}

.wardrobeImage{
    width: 100%;
    height: 30vh;
    margin-top: 28px;
}


.flex3{
    height: 163px;
    width: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
}

.bottomBoxWear{
    transition: transform 0.5s ease;
 
}


.leftArrow{
    position: absolute;
    top: 45%;
    right: 1264px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: white;
    height: 28px;
    z-index: 1;
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 20px #070707;
    color: #989090;
    cursor: pointer;
    transition: right 0.3s ease;
}

.BottomLeftArrow{
    position: relative;
    top: 171px;
    height: 27px;
    background: white;
    -webkit-transform: rotate(89deg);
    transform: rotate(89deg);
    cursor: pointer;
    z-index: 1;
    left: 39px;
    min-width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 20px #070707;
    color: #989090;
}

.BottomRightArrow{
    background: white;
    -webkit-transform: rotate(269deg);
    transform: rotate(269deg);
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 46%;
    height: 27px;
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 20px #070707;
    color: #989090;
}

.largeImageData{
    border: none;
    height: 382px;
}


@media screen and (max-width:592px) {
    .imageData{
        overflow: scroll;
    }

    .high1{
        margin-right: -40px;
    }
    

    .bottomBox {
        display: flex;
        gap: 13px;
        overflow: hidden;
        width: 103%;
        margin-left: 21px;
        margin-top: 20px;
        overflow: scroll;
    }

    .BottomLeftArrow{
        display: none;
    }

    .BottomRightArrow{
        display: none;
    }

    .bottomWear {
        height: 149px;
        width: 136px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: black;
        text-decoration: none;
    }




    .leftArrow{
        display: none;
    }

    .rightArrow{
        display: none;
    }

    .flex {
        display: flex;
        overflow: scroll;
        width: 90vw;
        height: 22vh;
    }


    .largeImageData{
      display: none;

    }

    .sideImageData {
        height: 187px;
        width: 122px;
        margin-left: 0px;
    }

    .flex3{
        width: 135px;
        height: 145px;
    }

    .tshirtText{
        margin-right: 39px;
    }

}



a:-webkit-any-link {
    text-decoration: none;
}

.LargeImageData{
    width: 29em;
    border-radius: 12px;
    height: 550px;
}

.GenderSectionImageBox{
    display: flex;
}

.genderSectionBoxDetails{
    position: relative;
    right: 7%;
    width: 1200px;
    overflow: hidden;
}