.mensection{
    margin-top: 60px;
    align-items: center;
    background: linear-gradient(90deg, rgba(248, 235, 39, 0.00) 0%, #F8EB27 48.11%, rgba(248, 235, 39, 0.00) 100%);
    width: 100%;
    justify-content: center;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0px;
}

.parentDiv{
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: auto;
}


.imageData{
    display: flex;
    margin-left: 71px;
}

.imageCategories{
    display: flex;
    flex-wrap: wrap;
}

.sideImageData{
    height: 187px;
    width: 170px;
    margin-left: 18px;
}

.tshirtText{
    position: relative;
    bottom: 31px;
    color: black;
}

.tshirt1{
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    border-left: 4px solid yellow;
}

.bottomBox{
    display: flex;
    gap: 33px;
    overflow: scroll;
    margin-left: 66px;
}


.bottomWear{
    height: 300px;
    width: 200px;
}

.bottoWearText{
    margin-top: -33px;
}