.my-account-profile{
    padding: 20px 20px;
    text-align: center;
    width: 163px;
    height: 151px;
    background: #d5d5d5;
}

.account_navigation{
    display: flex;
    margin: 36px 20%;
    gap: 48px;
    width: 55%;
    
}

.nameLogo{
    border: 2px solid black;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    color: white;
    background: black;
    padding: 23px;
    font-size: 64px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameSection{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.favoriteYoungster{
    margin-top: 15px;
    color: #bb9999;
}

.wishListOrder{
    padding: 20px 0px;
}


.wishListUl{
    list-style-type: none;
    padding: 2px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d5d5;

}


.wishListtext{
    padding: 13px;
    border-bottom: 1px solid #d5d5d5;
}

.ll{
    display: flex;
}


.wishListLogOut{
    margin: 26px 0px;
}


.catImage {
    height: 167px;
    width: 131px;
}

.crossCircle{
    border-radius: 50%;
    position: absolute;
    right: 1%;
    top: 0%;
    background: rgba(255,255,255,0.7);
    border: none;
    cursor: pointer;
    padding: 1px 7px;
}

.imageDatawishList{
    position: relative;
}

.xText{
    display: block;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.aboutTextData{
    display: flex;
    flex-direction: column;
    width: 67%;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.NoDataImage{
    width: 100%;
    height: auto;
}





.order-title {
    background: #fff;
    padding: 0px 0px;
    text-align: center;
    line-height: normal;
    position: relative;
    margin-top: 30px;
}

.order-title:before {
    content: "";
    border-bottom: 1px solid #746f6f;
    display: block;
    width: 46vw;
}


.order-title span {
    position: inherit;
    bottom: 10px;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    color: #746f6f;
}

.order-data-main{
    padding: 27px;
    width: 100%;
    border-radius: 42px;
}


.order-box {
    border: none;
    padding: 23px 40px 0px 40px;
    border-radius: 16px;
}

.order-id-order-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.order-id{
    text-transform: capitalize;
}


.order-product-section {
    border: none;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
    gap: 23px;
}


.favImageFig{
    width: 120px;
    height: auto;
}


.order-product-name{
    padding: 0 0 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #070707;
}

.order-product-details{
    display: flex;
    color: #746f6f;
    flex-wrap: wrap;
    padding-right: 117px;
    gap: 30px;
}


.order-product-details p {
    width: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #746f6f;
}


.order-qty{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #746f6f;
    margin-top: 20px;
    display: flex;
}


.product-order-review{
    width: 100%;
    display: flex;
    margin: 20px 0px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}


.product-status-and-help{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.product-status-button{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin: 0px 20px;
    border-radius: 4px;
    width: 200px;
    justify-content: center;
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
}