.my-account-profile{
    padding: 20px 20px;
    text-align: center;
    width: 163px;
    height: 151px;
    background: #d5d5d5;
}

.account_navigation{

    display: flex;
    margin: 36px 20%;
    width: 55%;
    gap: 21px;
    
}

.nameLogo{
    border: 2px solid black;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    color: white;
    background: black;
    padding: 23px;
    font-size: 64px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameSection{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.favoriteYoungster{
    margin-top: 15px;
    color: #bb9999;
}

.wishListOrder{
    padding: 20px 0px;
}


.wishListUl{
    list-style-type: none;
    padding: 2px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d5d5;

}


.wishListtext{
    padding: 13px;
    border-bottom: 1px solid #d5d5d5;
}

.ll{
    display: flex;
}


.wishListLogOut{
    margin: 26px 0px;
}


.catImage {
    height: 167px;
    width: 131px;
}

.crossCircle{
    border-radius: 50%;
    position: absolute;
    right: 1%;
    top: 0%;
    background: rgba(255,255,255,0.7);
    border: none;
    cursor: pointer;
    padding: 1px 7px;
}

.imageDatawishList{
    position: relative;
}

.xText{
    display: block;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.aboutTextData{
    display: flex;
    flex-direction: column;
    width: 67%;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.NoDataImage{
    width: 100%;
    height: auto;
}





.order-title {
    background: #fff;
    padding: 0px 0px;
    text-align: center;
    line-height: normal;
    position: relative;
    margin-top: 30px;
}

.order-title:before {
    content: "";
    border-bottom: 1px solid #746f6f;
    display: block;
    width: 46vw;
}


.order-title span {
    position: inherit;
    bottom: 10px;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    color: #746f6f;
}

.order-data-main{
    padding: 27px;
    width: 100%;
    border-radius: 42px;
}

.order-box {
    border: none;
    padding: 25px 0px 0px 30px;
    border-radius: 16px;
}

.order-id-order-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.order-id{
    text-transform: capitalize;
}


.order-product-section {
    border: none;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
    gap: 23px;
}


.favImageFig{
    width: 120px;
    height: auto;
}


.order-product-name{
    padding: 0 0 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #070707;
}

.order-product-details-single-product{
    display: flex;
    color: #746f6f;
    flex-wrap: wrap;
    padding-right: 117px;
    gap: 30px;
}


.order-product-details{
    display: flex;
}


.order-product-details-single-product p {
    width: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #746f6f;
}


.order-qty{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #746f6f;
    margin-top: 20px;
    display: flex;
}


.product-order-review{
    width: 100%;
    display: flex;
    margin: 20px 0px;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}


.product-status-and-help{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.product-status-button{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin: 0px 20px;
    border-radius: 4px;
    width: 200px;
    justify-content: center;
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
}



.order-details-box {
    margin-left: 120px;
    width: 100%;
}

.top-title {
    border-bottom: 1px solid #afaeb7;
    padding: 0px 0px 10px;
    display: flex;
    gap: 14px;
}


.inner-box {
    display: flex;
}

.details-text {
    width: 100%;
}

.product-name {
    padding: 0 0 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #070707;
    display: flex;
}


.order-product-details-single-product {
    display: flex;
    color: #746f6f;
    flex-wrap: wrap;
}


.order-product-details span {
    width: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #746f6f;
}

.product-qty {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;
    color: #746f6f;
    display: flex;
}

.product-price-status {
    display: flex;
    margin-top: 10px;
}


.product-price-status span {
    width: 50%;
}

.product-status {
    text-align: right;
}


.singleOrderInnerBox{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.product-price-status-singleOrder{
    display: flex;
    gap: 39px;
    justify-content: space-between;
}

.product-price{
    font-weight: 600;
}


.order-info-product-status {
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-top: 1px solid #afaeb7;
    border-bottom: 1px solid #afaeb7;
}


.order-status-main {
    padding: 10px 50px;
    background: red!important;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.orderStatusMainImage{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: rgb(255,255,255);
}


.order-info-total-price-single-order{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #afaeb7;
    align-items: center;
}


.total-price-order-single span{
    display: block;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 15px;
}

.order-price-data-single-order{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

.order-price-data-single-order-span{
    display: block;
    font-weight: 600;
    padding-bottom: 5px;
}

.shipping-user-details{
    padding: 20px 0px;
    border-bottom: 1px solid #afaeb7;
}

.title {
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
    display: flex;
}


.shipping-details .text {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}


.shipping-user-name{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}


.strongName{
    font-size: 13px;
    color: #383838;
    font-weight: 600;
}


.payment-method-single-order{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border-bottom: 1px solid #afaeb7;
}

.payment-method-span{
    padding-bottom: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    display: flex;
}

.payment-method-span2{
    display: flex;
    align-items: center;
    padding-top: 5px;
}


.payment-image{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.contact-number-details-single-order{
    padding: 20px 0px;
}

.contact-number-details-single-order-span1{
    font-weight: 600;
    display: block;
    font-size: 15px;
    display: flex;
}

.showPhoneNumber{
    color: rgb(56, 56, 56);
    display: block;
    font-size: 13px;
    display: flex;
}

.showGmailId{
    color: rgb(56, 56, 56);
    display: block;
    font-size: 13px;
    display: flex;

}