.signUpBox{
    padding: 73px;
}

.signUpImage{
    height: 200px;
    width: 250px;
}

.SignupPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* .loginContainer{
    display: flex;
    flex-direction: column;
} */

.SignupButton{
    padding: 6px 104px;
    background: blue;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.loginSignUp{
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    color: blue;
}

.loginSignUp :hover{
    text-decoration: underline;
    cursor: pointer;
}

.loginEmailBox{
    width: 16vw;
    height: 21px;
    border: 2px solid grey;
}

.loginPasswordBox{
    width:16vw;
    height: 21px;
    border: 2px solid grey;
}

.signUpInputBox{
    width:16vw;
    height: 21px;
    border: 2px solid grey;
}

.signUpPasswordBox{
    width:16vw;
    height: 21px;
    border: 2px solid grey;
}

.signUpEmailBox{
    width:16vw;
    height: 21px;
    border: 2px solid grey;
}