.upiBox{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.upiHeadline{
    display: flex;
    font-size: 17px;
    font-weight: 600;
}

.PaymentText{
    color: grey;
}

.UpiInput{
    border: 2px solid rgb(225, 204, 204);
    padding: 8px;
    width: 295px;
    border-radius: 10px;
}

.upiText{
    display: flex;
    background: #ffecec;
    padding: 17px;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
}